<h2>Select games that you played before</h2>

<p>Provide how much time you or your group spent on the game. <br>
  Also include games where not all members participated but consider that in the time estimate.</p>

<div class="tool-bar">
  <app-searchbar
    [placeholder]="'Search for games'"
    (search)="onSearch($event)">
  </app-searchbar>
  <div class="action-buttons">
    <app-button
      label="View Selected"
      variant="secondary"
      size="small"
      (click)="onViewSelected($event)">
    </app-button>
    <app-button
      label="Clear All"
      variant="secondary"
      size="small"
      (click)="onClearSelection($event)">
    </app-button>
  </div>

</div>

<div class="gamecards-container">

  <app-game-card
    class="game-card"
    *ngFor="let game of games"
    [game]="game"
    selectable="true"
    detailsViewable="true">
  </app-game-card>


</div>

<div class="bottom-buttons">
  <app-button
    label="Previous Step"
    variant="secondary"
    size="medium"
    (click)="onBack($event)">
  </app-button>

  <app-button
    label="Next Step"
    variant="primary"
    size="medium"
    (click)="onNext($event)">
  </app-button>
</div>

