<h2>Here are your Game Suggestions</h2>

<p>If you already played them, just add them to your selection and click reload.</p>

<div class="tool-bar">
  <div class="action-buttons">
    <app-button
      label="Reload"
      variant="secondary"
      size="small"
      (click)="onReload($event)">
    </app-button>
  </div>
</div>

<div *ngIf="loading" class="loading-spinner">
  <div class="spinner"></div>
  Loading suggestions...
</div>
<div class="gamecards-container" *ngIf="!loading">
  <app-game-card
    class="game-card"
    *ngFor="let game of suggestions"
    [game]="game"
    selectable="true"
    detailsViewable="true">
  </app-game-card>
</div>
<ng-container *ngIf="couldNotLoadGames">
  <div class="content-error">No games found</div>
</ng-container>

<div class="bottom-buttons">
  <app-button
    label="Previous Step"
    variant="secondary"
    size="medium"
    (click)="onBack($event)">
  </app-button>

  <app-button
    label="Buy me a Coffee"
    variant="primary"
    size="medium"
    (click)="onDonate($event)">
  </app-button>
</div>
