.game-card {
  border-radius: 0.25rem;
  border: var(--alternate-background-color-3) 1px solid;
  background-color: var(--alternate-background-color-2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  padding: 1.25rem;
  max-width: 48rem;
  min-width: 16rem;
  aspect-ratio: 3/2;
}

.game-image-container {
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 3 / 4;
}

.game-image {
  border-radius: 8px;
  object-fit: cover;
}

.game-card-info {
  padding-left: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  width: 100%;
}

.game-title {
  margin: 0;
  padding-right: 0.75rem;
  overflow-y: auto;
  font-weight: normal;
}

.game-card-text {
  margin: 0;
  padding-right: 0.75rem;
  overflow-y: auto;
}

/* WebKit scrollbar styles */
.game-title::-webkit-scrollbar {
  width: 0.25rem;
}

.game-title::-webkit-scrollbar-track {
  background: var(--alternate-background-color-1);
  border-radius: 0.125rem;
}

.game-title::-webkit-scrollbar-thumb {
  background-color: var(--alternate-background-color-3);
  border-radius: 0.125rem;
}

.game-title::-webkit-scrollbar-thumb:hover {
  background-color: var(--alternate-background-color-4);
}

/* WebKit scrollbar styles */
.game-card-text::-webkit-scrollbar {
  width: 0.25rem;
}

.game-card-text::-webkit-scrollbar-track {
  background: var(--alternate-background-color-1);
  border-radius: 0.125rem;
}

.game-card-text::-webkit-scrollbar-thumb {
  background-color: var(--alternate-background-color-3);
  border-radius: 0.125rem;
}

.game-card-text::-webkit-scrollbar-thumb:hover {
  background-color: var(--alternate-background-color-4);
}

.game-card-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.detail-link {
  padding-top: 0.75rem;
  width: 100%;
  text-decoration: underline;
}

.game-card-details-button,
.game-card-select-button {
  margin-top: 1rem;
  width: 100%;
}



.select-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;

  > :not(:first-child):not(:last-child) {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

.icon-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: var(--alternate-background-color-4) 1px solid;
  background-color: var(--alternate-background-color-1);
  stroke: var(--text-color);
  width: 100%;
}

.selected-intensity {
  background-color: var(--primary-color);
  stroke: var(--button-text-color);
  border: var(--alternate-primary-color-1) 1px solid;
}

.selected-card {
  background-color: var(--alternate-background-color-3);
  border: var(--alternate-background-color-4) 1px solid;
}

.star-icon-small,
.star-icon-medium,
.star-icon-large {
  display: block;
  height: 1.25rem;
}
