<div class="game-card" [class.selected-card]="this.game.intensity !== undefined">
  <div class="game-image-container">
    <img ngSrc="{{ game.cover }}" [alt]="game.name" class="game-image" fill style="position: relative">

  </div>
  <div class="game-card-info">
    <div class="game-card-text">
      <h5 class="game-title">{{ game.name }}</h5>
      <p class="game-description"
         *ngIf="descriptionActive">{{ game.description }}</p>
    </div>

    <div class="game-card-buttons">
      <a
        class="detail-link"
        *ngIf="detailsViewable"
        [routerLink]="['/game-details', game.id]">View Details
      </a>
      <div class="select-icons" *ngIf="selectable">
        <button class="icon-button" [class.selected-intensity]="this.game.intensity === Intensity.Low"
                (click)="selectIntensity(Intensity.Low)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-icon-small">
            <polygon
              points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
          </svg>
        </button>
        <button class="icon-button" [class.selected-intensity]="this.game.intensity === Intensity.Medium"
                (click)="selectIntensity(Intensity.Medium)">
          <svg viewBox="0 0 32 22" xmlns="http://www.w3.org/2000/svg"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-icon-medium">
            <g>
              <path
                d="M17.18,20.02l-1.281,-0.674l1.069,-0.562l0.212,1.236Zm-2.35,-1.236l-3.83,-2.014l-6.18,3.25l1.18,-6.88l-5,-4.87l6.91,-1.01l3.09,-6.26l3.09,6.26l1.809,0.264l-5.101,0.746l5,4.87l-0.968,5.644Z"
                style="fill:none;fill-rule:nonzero;"/>
              <path
                d="M20.798,1l3.09,6.26l6.91,1.01l-5,4.87l1.18,6.88l-6.18,-3.25l-6.18,3.25l1.18,-6.88l-5,-4.87l6.91,-1.01l3.09,-6.26Z"
                style="fill:none;fill-rule:nonzero;"/>
            </g>
          </svg>
        </button>
        <button class="icon-button" [class.selected-intensity]="this.game.intensity === Intensity.High"
                (click)="selectIntensity(Intensity.High)">

          <svg viewBox="0 0 41 22" xmlns="http://www.w3.org/2000/svg"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-icon-large">
            <path
              d="M17.18,20.02l-1.619,-0.851l1.351,-0.711l0.268,1.562Zm-2.969,-1.562l-3.211,-1.688l-6.18,3.25l1.18,-6.88l-5,-4.87l6.91,-1.01l3.09,-6.26l3.09,6.26l1.471,0.215l-5.438,0.795l5,4.87l-0.912,5.318Z"
              style="fill:none;fill-rule:nonzero;"/>
            <path
              d="M26.303,20.02l-1.374,-0.722l1.146,-0.603l0.228,1.325Zm-2.52,-1.325l-3.66,-1.925l-6.18,3.25l1.18,-6.88l-5,-4.87l6.91,-1.01l3.09,-6.26l3.09,6.26l1.716,0.251l-5.193,0.759l5,4.87l-0.953,5.555Z"
              style="fill:none;fill-rule:nonzero;"/>
            <path
              d="M29.736,1l3.09,6.26l6.91,1.01l-5,4.87l1.18,6.88l-6.18,-3.25l-6.18,3.25l1.18,-6.88l-5,-4.87l6.91,-1.01l3.09,-6.26Z"
              style="fill:none;fill-rule:nonzero;"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

</div>


