<h1>Impressum</h1>
<p><strong>Responsible for the content:</strong></p>
<p>Hannes Ensbacher<br> <!--TODO: Replace with your name or company name-->
  Studentbacken 25, 115 57, Stockholm, Sweden</p>

<p><strong>Contact:</strong></p>
<p>Email: <a href="mailto:hensbacher01@gmail.com">hensbacher01&#64;gmail.com</a><br></p>

<p><strong>Disclaimer:</strong><br>
  All content on this website is provided "as is." We make no representations or warranties about the accuracy of the information. For further details, refer to the privacy policy and terms of service.</p>
