:root{
  --primary-color: #ff8906;  // A nice orange color
  --alternate-primary-color-1: #bf5f10;  // A nice orange color
  --secondary-color: #f25f4c; // A nice red color
  --tertiary-color: #e53170;  // A nice pink color
  --alert-color: #ff1111;    // A nice red color
  --background-color: #0f0e17; // A dark gray background
  --alternate-background-color-1: #13121b; // A dark gray background
  --alternate-background-color-2: #1e1d26; // A dark gray background
  --alternate-background-color-3: #2e2d36; // A dark gray background
  --alternate-background-color-4: #3e3d46; // A dark gray background
  --headline-color: #fffffe;      // A light gray text color
  --button-text-color: #fffffe;      // A light gray text color
  --text-color: #a7a9be;      // A light gray text color
}

