<div class="temp">

  <div class="temp2">
    <app-button
      label="Primary Button"
      variant="primary"
      size="small"
      (click)="onCancel($event)">
    </app-button>
    <app-button
      label="Primary Button"
      variant="primary"
      size="medium"
      (click)="onCancel($event)">
    </app-button>
    <app-button
      label="Primary Button"
      variant="primary"
      size="large"
      (click)="onCancel($event)">
    </app-button>
  </div>

  <div class="temp2">
    <app-button
      label="Secondary Button"
      variant="secondary"
      size="small"
      (click)="onCancel($event)">
    </app-button>
    <app-button
      label="Secondary Button"
      variant="secondary"
      size="medium"
      (click)="onCancel($event)">
    </app-button>
    <app-button
      label="Secondary Button"
      variant="secondary"
      size="large"
      (click)="onCancel($event)">
    </app-button>
  </div>

  <div class="temp2">
    <app-button
      label="Tertiary Button"
      variant="tertiary"
      size="small"
      (click)="onCancel($event)">
    </app-button>
    <app-button
      label="Tertiary Button"
      variant="tertiary"
      size="medium"
      (click)="onCancel($event)">
    </app-button>
    <app-button
      label="Tertiary Button"
      variant="tertiary"
      size="large"
      (click)="onCancel($event)">
    </app-button>
  </div>

  <div class="temp2">
    <app-button
      label="Primary Button"
      variant="primary"
      size="small"
      (click)="onCancel($event)">
    </app-button>
    <app-button
      label="Primary Button"
      variant="primary"
      size="medium"
      loading="true"
      (click)="onCancel($event)">
    </app-button>
    <app-button
      label="Primary Button"
      variant="primary"
      size="large"
      disabled="true"
      (click)="onCancel($event)">
    </app-button>
  </div>

</div>

