/* You can add global styles to this file, and also import other style files */
@import 'styles/variables'; // Adjust the path as needed

html * {
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}


body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;

  > * {
    max-width: 60%;
    margin: 0 auto;

    @media (max-width: 1810px) {
      max-width: 68%;
    }
    @media (max-width: 1600px) {
      max-width: 75%;
    }
    @media (max-width: 1480px) {
      max-width: 80%;
    }

  }

}


h1, h2, h3, h4, h5, h6 {
  color: var(--headline-color);
  font-weight: bold;
}

p {
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}

.basic-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  background-color: (var(--alternate-background-color-1));
  border-radius: 0.5rem;
  padding: 0.5rem 2rem 1rem 2rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width: 100%;

  > :not(:last-child) {
    margin-right: 1rem;
  }

  > :first-child {
    flex-grow: 1;
  }
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  > :not(:last-child) {
    margin-right: 0.5rem;
  }

  > * {
    display: flex;
    flex-grow: 1;
  }
}

.bottom-buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.gamecards-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  justify-content: stretch;
}

@media (max-width: 1355px) {
  .gamecards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 970px) {
  .gamecards-container {
    grid-template-columns: 1fr;
  }
}

