<div class="game-card">
  <div class="game-image-container">
    <img ngSrc="{{ game.img }}" [alt]="game.title" class="game-image" fill>

  </div>
  <div class="game-card-info">
    <h5 class="game-title">{{ game.title }}</h5>

    <div class="game-card-buttons">
      <app-button
        label="Details"
        variant="primary"
        size="medium"
        class="game-card-details-button"
        customClasses="no-side-padding-button no-top-padding-button no-bottom-padding-button"
        *ngIf="true"
        (click)="onDetailsButton()">Details
      </app-button>

      <app-button
        label="Select"
        variant="primary"
        size="medium"
        class="game-card-select-button"
        customClasses="no-side-padding-button no-top-padding-button no-bottom-padding-button"
        *ngIf="selectable"
        (click)="onSelectButton()">Select
      </app-button>
    </div>
  </div>

</div>


